name: runtests
run-name: Run test suite for trac-github
on: [pull_request]
jobs:
  runtests-py2:
    runs-on: ubuntu-20.04
    container:
      image: python:2.7.18-buster

    steps:
    - uses: actions/checkout@v4
    - run: pip install nox-py2
    - run: git config --global user.name runtest
    - run: git config --global user.email runtest@localhost
    - run: nox --non-interactive --error-on-missing-interpreter --session runtests -- --git-default-branch=master

#  runtests-py3:
#    runs-on: ubuntu-latest
#    steps:
#    - uses: wntrblm/nox@2022.8.7
#      with:
#        python-versions: "3.7"
#    - uses: actions/checkout@v4
#    - run: git config --global user.name runtest
#    - run: git config --global user.email runtest@localhost
#    - run: git config --global init.defaultBranch main
#    - run: nox --non-interactive --error-on-missing-interpreter --session runtests
